@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');



*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

 body{
    background: linear-gradient(120deg, #e75590, #00c2cb);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
.login{

    height: 100vh;
    background: linear-gradient(120deg, #e75590, #00c2cb);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer{
    height: 650px;
    width: 700px;
    background-color: #ffffff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
    padding-top: 20px;
    box-shadow: 15px 15px 15px 15px rgb(0, 132, 255);
}
.loginTitle{
    margin-bottom: 32px;
    color: #303030;
}
.loginTitle2{
    margin-bottom: 32px;
    color: #303030;
}
.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.loginInput{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: 2px solid grey;
    border-radius: 15px;
    outline: none;
    position: relative;
}

#textEmail{
    outline: none;
}

#textPassword{
    outline: none;
}


#btnLogin{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: 15px;
    color:darkblue;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
   
   
}



#btnSignup{
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    font-size: 15px;
    color:darkblue;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    
   
    
}

.loginReset{
    font-size: 12px;
    color: #929292;
    text-decoration: none;
    
}
.loginLink1{
    font-size: 16px;
    color: #929292;
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px 15px;
}
.loginLink2{
    font-size: 16px;
    color: #929292;
    text-decoration: none;
    justify-content: space-around;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loginLink3{
    font-size: 16px;
    color: #929292;
    text-decoration: none;
    text-align: center;
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}